#container {
    text-align: center;
}

#container > h2 {
    margin-bottom: 1.4em;
    font-size: 3em;
    font-weight: 600;
}

#container > img {
    width: 100px;
}

#linha {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-inline: 16%;
}



#left {
    margin-right: 2em;
    text-align: center;
}

#left > img {
    width: 60%;
    border: 15px dashed rgb(156, 17, 255);
    transition: border ease-in-out .2s;

}

#left > img:hover {
    border: 15px solid pink;
}

#right {
    text-align: left;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}