#ct {
   background: #f5e3ff;
   padding-top: 2em;
   padding-bottom: 5em;
   margin-inline: 20%;
   border-radius: 18px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
   text-align: center;
   position: relative;
}

#ct > hr {
   height: 3px;
   border: none;
   background-color: rgb(97, 77, 91);
   margin-bottom: 2em;
}

#ct > h2 {
   margin-bottom: 1em;
   font-size: 2em;
}

#duasCol {
   display: grid;
   grid-template-columns: 50% 50%;
   padding-inline: 5em;
   max-width: 800px;
   margin-inline: auto;
}

#duasCol #left {
   display: flex;
   flex-flow: row;
   padding-right: 5em;
}

#ct figure {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 255, 255);
   padding: 0.3em;
   border-radius: 50%;
   box-shadow: 0 0 15px grey;
}

#ct figure img {
   border-radius: 50%;
   object-fit: cover;
   width: 210px;
   height: 210px;
}

#duasCol > #right {
   display: flex;
   flex-flow: column;
   justify-content: center;
   gap: 2em;
}

#duasCol > #right > button,
#loadBtn {
   padding: 1em 2em;
   cursor: pointer;
   font-weight: 500;
   font-size: 19px;
}

#loadBtn {
   background-color: rgb(24, 24, 24);
   color: white;
   border-radius: 8px;
   border: black;
   border: 2.7px solid rgb(102, 66, 72);
}

#loadBtn:hover {
   transition: all 0.3s ease-out;
   color: black;
   background-color: white;
}

#removeBtn {
   background-color: transparent;
   border-radius: 8px;
   border: 2.7px solid rgb(102, 66, 72);
}

#removeBtn:hover {
   background-color: red;
   color: white;
   transition: all 0.3s ease-out;
}

#form {
   margin-top: 3em;
   display: flex;
   flex-flow: column;
   gap: 1.4em;
   align-items: start;
   padding-inline: 16em;
}

#form label {
   font-weight: 600;
}

#form fieldset {
   border: none;
   display: flex;
   flex-flow: column;
   align-items: start;
   gap: 10px;
   width: 100%;
   font-size: 18px;
}

#form fieldset input {
   background-color: transparent;
   border: 2.7px solid rgb(102, 66, 72);
   border-radius: 8px;
   width: inherit;
   font-size: 17px;
   padding: 13px 0.9em;
}

#form fieldset input:hover,
#form fieldset input:focus,
#form fieldset input:valid {
   transition: all 0.3s ease-out;
   background-color: #faeec8;
}

#form button {
   background-color: #3a1979;
   border: none;
   color: white;
   padding: 0.5em 3em;
   font-size: 22px;
   text-align: center;
   width: 100%;
   cursor: pointer;
   margin-top: 1em;
   border-radius: 8px;
   font-weight: 600;
}

#ct i {
   font-size: 60px;
}

#backdrop {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   border-radius: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
}

#animCt {
   width: 300px;
   margin-inline: auto;
}

@media screen and (max-width: 1830px) {
   #duasCol {
      max-width: 700px;
   }
}

@media screen and (max-width: 1648px) {
   #ct {
      margin-inline: 14%;
   }
}

@media screen and (max-width: 1378px) {
   #form {
      padding-inline: 8em;
   }
}

@media screen and (max-width: 1000px) {
   #ct {
      margin-inline: 5%;
   }
}

@media screen and (max-width: 900px) {
   #ct > h2 {
      font-size: 1.7em;
   }

   #duasCol > #right > button,
   #loadBtn {
      font-size: 17px;
   }

   #duasCol #left {
      padding-right: 2em;
   }

   #form {
      padding-inline: 3em;
   }
}

@media screen and (max-width: 700px) {
   #duasCol {
      max-width: initial;
      padding-inline: 2em;
   }

   #ct figure img {
      max-width: 180px;
      max-height: 180px;
   }
}

@media screen and (max-width: 600px) {
   #duasCol {
      display: flex;
      flex-flow: column;
   }

   #ct figure {
      margin-inline: auto;
      margin-bottom: 1.5em;
   }

   #duasCol #left {
      padding-right: 0;
   }

   #duasCol #right {
      gap: 0.8em;
   }

   #ct i {
      font-size: 40px;
   }

   #ct > h2 {
      font-size: 1.5em;
   }

   #form fieldset input {
      font-size: 15px;
   }
}

@media screen and (max-width: 500px) {
   #duasCol > #right > button,
   #loadBtn {
      font-size: 15px;
   }

   #form {
      padding-inline: 1.2em;
   }
}

@media screen and (max-width: 420px) {
   #ct > h2 {
      font-size: 1.3em;
   }
}
