#container {
    text-align: center;
}

#container > h2 {
    margin-bottom: 0.3em;
    font-weight: 600;
    font-size: 2.2em;
}

#container > p {
    font-size: 19px;
    margin-bottom: 2em;
}

#linha {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: black solid 2px;
    padding-bottom: 1%;
    font-size: 19px;
    padding-inline: 10px;
}

#userPostsContainer {
    padding-inline: 20%;
}

#itemLine {
    border-bottom: rgb(94, 93, 93) 01px dashed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-inline: 2%;
    padding-top: 0.9em;
    padding-bottom: 0.6em;
    transition: all 0.2s ease-in-out;
}

#itemLine:hover {
    background-color: rgba(255, 255, 255, 0.219);
    border-inline: rgb(94, 93, 93) 01px dashed;
}

#right > button {
    margin-inline: 5px;
    padding-block: 4px;
    font-size: 15px;
    font-weight: 600;
    padding-inline: 25px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

#right > button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#container > img {
    width: 90px;
}

#excluir:hover {
    background-color: red !important;
    border: red auto auto;
    color: white;
}

#removido {
    background-color: rgb(69, 224, 64);
    width: 300px;
    margin: 0 auto;
    margin-top: 1em;
}

#negacao {
    margin-top: 4em;
}

@media screen and (max-width: 1524px) {
    #userPostsContainer {
        padding-inline: 15%;
    }

    #container > h2 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1344px) {
    #itemLine p {
        font-size: 14px;
    }

    #linha {
        font-size: 17px;
    }

    #right > button {
        font-size: 13px;
    }
}

@media screen and (max-width: 1048px) {
    #userPostsContainer {
        padding-inline: 10%;
    }

    #container > h2 {
        font-size: 1.6em;
    }

    #container > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 922px) {
    #userPostsContainer {
        padding-inline: 5%;
    }
}

@media screen and (max-width: 765px) {
    #userPostsContainer {
        padding-inline: 1%;
    }
}

@media screen and (max-width: 765px) {
    #right > button {
        padding-inline: 6px;
    }
}

@media screen and (max-width: 597px) {
    #itemLine {
        flex-direction: column;
    }

    #right > button {
        margin-top: 5px;
        padding-inline: 16px;
        margin-inline: 3px;
    }

    #linha {
        display: none;
    }

    #userPostsContainer {
        border-top: 2px solid black;
    }


}

@media screen and (max-width: 487px) {
    #container > h2 {
        font-size: 1.3em;
    }

    #container > p {
        font-size: 14px;
    }

    #container > img {
        width: 70px;
    }
}