#container {
    text-align: center;
}

#container > h2 {
    margin-bottom: 0.7em;
    font-weight: 600;
    font-size: 2.2em;
}

#container > p {
    font-size: 19px;
    margin-bottom: 2em;
}

#linha {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: black solid 2px;
    padding-bottom: 1%;
    font-size: 19px;
    padding-inline: 10px;
}

#userPostsContainer {
    padding-inline: 20%;
}
