#ct {
   height: 70vh;
   background: #f5e3ff;
   margin-inline: 20%;
   border-radius: 18px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
   display: grid;
   grid-template-columns: 35% 65%;
}

#ct > #left {
   background-color: #585088;
   border-bottom-left-radius: 18px;
   border-top-left-radius: 18px;
   color: white;
}

#ct > #right {
   height: inherit;
}

#form {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1em;
   border-bottom: 1px solid #a195e5;
}

#form input {
   background: none;
   outline: none;
   font-size: 17px;
   color: white;
   border: none;
}

#form button {
   font-size: 19px;
   border: none;
   background: none;
}

#userCt {
   border-top-left-radius: 18px;
   background-color: #362c70;
   height: 65px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   gap: 1em;
   padding-inline: 10px;
}

#userCt > div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   gap: 0.3em;
}

#userCt img {
   width: 26px;
   height: 26px;
}

#userCt p {
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 2px;
}

.userIcon {
   color: white !important;
}

#users {
}

#userCard {
   display: flex;
   flex-flow: row nowrap;
   align-items: stretch;
   gap: 13px;
   padding-inline: 1em;
   padding-block: 0.5em;
   cursor: pointer;
}

#userCard:hover {
   background-color: #362c70;
   transition: all 0.1s ease-in;
}

#userCard #left img {
   width: 65px;
   height: 65px;
   border-radius: 50%;
}

#userCard #right {
   display: flex;
   gap: 7px;
   flex-flow: column;
   justify-content: center;
}

#userCard #right h5 {
   font-size: 17px;
   font-weight: 600;
}

#userCard #right p {
   font-size: 15px;
}
