#ct {
   height: 70vh;
   background: #f5e3ff;
   margin-inline: 20%;
   border-radius: 18px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
   display: grid;
   grid-template-columns: 35% 65%;
}

#ct > #left {
   background-color: #585088;
   border-bottom-left-radius: 18px;
   border-top-left-radius: 18px;
   color: white;
   position: relative;
}

#ct > #right {
   height: inherit;
}

#form {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1em;
   border-bottom: 1px solid #a195e5;
}

#form input {
   background: none;
   outline: none;
   font-size: 17px;
   color: white;
   border: none;
}

#form button {
   font-size: 19px;
   border: none;
   background: none;
   cursor: pointer;
}

#userCt {
   border-top-left-radius: 18px;
   background-color: #362c70;
   height: 60px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   gap: 1em;
   padding-inline: 10px;
}

#userCt > div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   gap: 0.3em;
}

#userCt img {
   width: 26px;
   height: 26px;
}

#userCt p {
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 2px;
}

.userIcon {
   color: white !important;
}

#users {
}

.itemsPesquisa {
   border-bottom: 1px solid #a195e5;
}

#cima {
   padding-right: 1.2em;
   padding-left: 1em;
   padding-top: 1em;
   margin-bottom: 7px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}

#cima > h6 {
   font-size: 16px;
   font-weight: 500;
}

#cima > button {
   background-color: #f5e3ff;
   border: none;
   padding: 6px 1.4em;
   cursor: pointer;
}

#loadIco {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.322);
   top: 0;
   height: 100%;
   width: 100%;
   font-size: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1em;
   border-bottom: 1px solid #a195e5;
}

#loadIco > svg {
   animation: girar 1s infinite linear;
}

@keyframes girar {
   to {
      transform: rotateZ(360deg);
   }
}

#loadIco path {
   fill: #a195e5;
}

#semConversaCt {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   gap: 2.4em;
   flex-direction: column;
}

#semConversaCt > p {
   font-size: 22px;
   font-weight: 500;
   color: #8b7495;
}

#semConversaCt > img {
   max-width: 350px;
}

#noUserCt {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-block: 2em;
   gap: 1em;
}

#noUserCt > img {
   width: 60%;
}

#abrirDrawer {
   display: none;
}

@media screen and (max-width: 1600px) {
   #ct {
      margin-inline: 14%;
      height: 78vh;
   }
}

@media screen and (max-width: 1300px) {
   #ct {
      margin-inline: 8%;
   }
}

@media screen and (max-width: 1200px) {
   #ct > #left {
      display: none;
   }

   #ct {
      margin-inline: 15%;
      grid-template-columns: 100%;
      position: relative;
   }

   #userCt {
      border-top-left-radius: 0;
      color: white;
   }

   #abrirDrawer {
      display: initial;
      position: absolute;
      top: 40%;
      left: 0;
      padding: 0.2em;
      font-size: 46px;
      border: none;
      background-color: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 1px 1px 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #362c70;
      cursor: pointer;
   }

   .drawerCt {
      width: 100%;
      background-color: #585088 !important;
   }
}
