#ct {
   height: 70vh;
   background: #f5e3ff;
   margin-inline: 20%;
   border-radius: 18px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
   display: grid;
   grid-template-columns: 35% 65%;
}

#ct > #left {
   background-color: #585088;
   border-bottom-left-radius: 18px;
   border-top-left-radius: 18px;
   color: white;
   position: relative;
}

#ct > #right {
   height: inherit;
}

#form {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1em;
   border-bottom: 1px solid #a195e5;
}

#form input {
   background: none;
   outline: none;
   font-size: 17px;
   color: white;
   border: none;
}

#form button {
   font-size: 19px;
   border: none;
   background: none;
   cursor: pointer;
}

#userCt {
   border-top-left-radius: 18px;
   background-color: #362c70;
   height: 65px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   gap: 1em;
   padding-inline: 10px;
}

#userCt > div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   gap: 0.3em;
}

#userCt img {
   width: 26px;
   height: 26px;
}

#userCt p {
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 2px;
}

.userIcon {
   color: white !important;
}

#users {
}

#userCard {
   display: flex;
   flex-flow: row nowrap;
   align-items: stretch;
   gap: 13px;
   padding-inline: 1em;
   padding-block: 0.5em;
   cursor: pointer;
}

#userCard:hover, .selecionado {
   background-color: #433b6e;
   transition: all 0.1s ease-in;
}

.selecionado {
   background-color: #433b6e;
   transition: all 0.1s ease-in;
}

#userCard #left img {
   width: 65px;
   height: 65px;
   border-radius: 50%;
}

#userCard #right {
   display: flex;
   gap: 7px;
   flex-flow: column;
   justify-content: center;
}

#userCard #right h5 {
   font-size: 17px;
   font-weight: 600;
}

#userCard #right p {
   font-size: 15px;
}

.itemsPesquisa {
   border-bottom: 1px solid #a195e5;
}

#cima {
   padding-right: 1.2em;
   padding-left: 1em;
   padding-top: 1em;
   margin-bottom: 7px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
}

#cima > h6 {
   font-size: 16px;
   font-weight: 500;
}

#cima > button {
   background-color: #f5e3ff;
   border: none;
   padding: 6px 1.4em;
   cursor: pointer;
}

#loadIco {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.322);
   top: 0;
   height: 100%;
   width: 100%;
   font-size: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1em;
   border-bottom: 1px solid #a195e5;
}

#loadIco > svg {
   animation: girar 1s infinite linear;
}

@keyframes girar {
   to {
      transform: rotateZ(360deg);
   }
}

#loadIco path {
   fill: #a195e5;
}

.userCard {
   border-bottom: 0.4px dashed #a195e5;
}

#users .userCard:last-child {
   border-bottom: none !important;
}

.userCard:hover {
   background-color: #433b6e !important;
}

.userCard > #right {
   flex-flow: row nowrap !important;
   justify-content: space-between !important;
   align-items: center;
   flex: 1 1;
}

.addUserIco {
   font-size: 26px;
}

.userCard:hover path {
   fill: white;
   transition: 0.2s all;
}

#semConversaCt {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   gap: 2.4em;
   flex-direction: column;
}

#semConversaCt > p {
   font-size: 22px;
   font-weight: 500;
   color: #8b7495;
}

#semConversaCt > img {
   max-width: 350px;
}
