.sk {
   background-color: #b498c8;
   border-radius: 5px;
   display: inline-block;
   max-width: 100%;
   position: relative;
   overflow: hidden;
   animation: piscar 0.7s alternate-reverse infinite ease-in-out;
}

.sk::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translateX(-100%);
   background: rgb(90, 70, 116);
   background: linear-gradient(180deg, rgba(213, 168, 240, 0.353) 0%, rgba(205, 153, 226, 0.2) 100%);
   animation: shimmer 3s infinite linear alternate-reverse;
   content: "";
}

@keyframes shimmer {
   100% {
      transform: translateX(100%);
   }
}

@keyframes piscar {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}

.sk.thumbnail {
   height: 200px;
   width: 277px;
}

.sk.heroImg {
   width: 80%;
   height: 465px;
   margin-bottom: 10px;
}

.sk.tituloHero {
   width: 70%;
   height: 35px;
   margin-bottom: 6px;
}

.sk.data {
   height: 15px;
   width: 300px;
   margin-right: 1em;
}

.sk.tagsCard {
   margin-top: 10px;
   height: 15px;
   width: 60%;
   margin-bottom: 22px;
}

.sk.tituloCard {
   height: 27px;
   width: 70%;
   margin-bottom: 22px;
}

.sk.textoCard {
   height: 16px;
   width: 100%;
   margin-bottom: 5px;
}

.sk.criadoPorCard {
   height: 15px;
   width: 60%;
   margin-top: 22px;
}

.sk.singleTag {
   width: 90px;
   height: 20px;
}

.sk.singlePopularPost {
   width: 390px;
   height: 17px;
}

.sk.textoDashboard {
   height: 17px;
   width: 700px;
}

.sk.botaoDashboard {
   width: 50px;
   height: 17px;
   margin-inline: .5em;
}



@media screen and (max-width: 1600px) {
   .sk.heroImg {
      height: 405px;
   }
}

@media screen and (max-width: 1297px) {
   .sk.thumbnail {
      height: 180px;
      width: 200px;
   }

   .sk.heroImg {
      height: 365px;
      width: 90%;
   }

   .sk.tituloHero {
      height: 30px;
   }
}

@media screen and (max-width: 1278px) {
   .sk.thumbnail {
      width: 100%;
   }

   .sk.tagsCard {
      margin-bottom: 15px;
   }

   .sk.tituloCard {
      margin-bottom: 12px;
   }

   .sk.criadoPorCard {
      margin-top: 10px;
      height: 12px;
   }

   .sk.textoCard {
      height: 12px;
   }

   .sk.tituloHero {
      height: 25px;
   }
}

@media screen and (max-width: 900px) {
   .sk.heroImg {
      height: 310px;
   }
}

@media screen and (max-width: 600px) {
   .sk.heroImg {
      height: 230px;
   }
}

@media screen and (max-width: 450px) {
   .sk.tituloCard {
      height: 20px;
   }

   .sk.heroImg {
      height: 190px;
   }

   .sk.singlePopularPost {
      width: 320px;
   }
}

@media screen and (max-width: 400px) {
   .sk.thumbnail {
      height: 150px;
   }
}

@media screen and (max-width: 330px) {
   .sk.singlePopularPost {
      width: 300px;
   }
}