#logo {
    width: 90px !important;
    filter: contrast(100);
}



#preview {
    width: 250px;
    margin-top: 9px;
    border: white 1px solid;
    box-shadow: 1px 1px 5px;
}

#botao {
    background-color: red !important;
}

#form {
    width: 40% !important;
}

#ico {
    fill: white;
}

/* Wysiwng Editor */
.demoEditor {
    border-bottom: 2.5px #e3e3e3 solid;
    font-size: 13px;
    color: black;
    transition: all 0.6s ease-in-out;
    padding-inline: 6px;
}

.demoEditor:hover, .demoEditor:focus {
    background-color: pink !important;
}


.demoWrapper {
    margin-top: 10px;
}


@media screen and (max-width: 889px) {
    #logo {
        width: 70px !important;
    }    
}