#container {
    text-align: center;
    display: grid;
    height: 85vh;
    padding-inline: 5%;
    grid-template-columns: 70% 30%;
}

#left > h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #ffe3fd;
    width: max-content;
    padding: .1em 1em;  
    border-radius: 3px;
    
}

#left {
    text-align: start;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#left {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#right > form > input {
    font-size: 18px;
}

#right > form > button {
    font-size: 18px;
    margin-left: 4px;
}

#right > h3 {
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-size: 17px;
    font-weight: 700;
}

#right {
    padding-top: 2em;
    text-align: start;
    border-left: #e0c6eb 6px dashed;
    padding-left: 2em;
    position: sticky;
}

#hero {
    width: 100%;
}

#duasCol {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 3.7em;
    margin-top: 2.2em;
}