#container {
    text-align: center;
    display: grid;
    height: 85vh;
    padding-inline: 5%;
    grid-template-columns: 70% 30%;
}
.btn,
.searchBtn {
    display: none;
}

#left > h2 {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background: #ffe3fd;
    width: fit-content;
    padding: 0.1em 1em;
    border-radius: 3px;
}

#left {
    overflow-y: scroll;
    text-align: start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#left {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#right {
    padding-top: 2em;
    text-align: start;
    border-left: #e0c6eb 6px dashed;
    padding-left: 2em;
    position: sticky;
}

#hero {
    width: 100%;
}

#duasCol {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 3.7em;
    margin-top: 2.2em;
}

#loading {
    font-size: 30px;
    margin-top: 1em;
    animation: girar 1s infinite linear;
    font-weight: 900;
}

.btn {
    font-size: 40px;
    background-color: pink;
}

.btn:hover,
.searchBtn:hover {
    cursor: pointer;
}

.searchBtn {
    color: pink;
    font-size: 40px;
    margin-top: 0.6em;
}

.searchBtn > path {
    fill: rgb(255, 255, 255);
}

#iconsContainer {
    display: flex;
    flex-direction: column;
}

@keyframes girar {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1516px) {
    #container {
        padding-inline: 1%;
        grid-template-columns: 60% 40%;
    }
    #duasCol {
        padding-right: 0.5em;
    }
    #container {
        grid-template-columns: 70% 30%;
    }

    #left > h2 {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 1462px) {
    #left > h2 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 1284px) {
    #right {
        padding-left: 0.5em;
    }
}

@media screen and (max-width: 1214px) {
    #left > h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1080px) {
    .sidebar {
        display: none;
    }

    .btn,
    .searchBtn {
        display: initial;
    }

    #container {
        grid-template-columns: 92% 10%;
    }
    #left {
        padding-left: 1.4em;
    }

    #right {
        padding: 0 !important;
        border: none !important;
        background-image: url("/src/Images/low-poly-grid-haikei.svg");
    }

    #iconsContainer {
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    }
}

@media screen and (max-width: 1008px) {
    #left {
        padding-left: 0.4em;
    }
}

@media screen and (max-width: 980px) {
    #left {
        padding-inline: 1.4em;
    }
}


@media screen and (max-width: 734px) {
    #left {
        padding-left: .1em;
    }

}

@media screen and (max-width: 632px) {
    #left {
        padding-right: 0;
    }
}


@media screen and (max-width: 594px) {
    
}