#container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(255, 227, 253);
    margin-right: 15px;
    padding-top: 4px;
    padding-left: 4px;
    border-radius: 2%;
    margin-bottom: 15px;
    transition: all .5s ease;
    border: 1px solid black;
}

#container:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 1px 1px 15px rgb(187, 138, 192);
}

#left {
    overflow: hidden;
    border-radius: 2%;
}


#left > img {
    width: 100%;
    height: 200px;
    border-radius: 2%;
    transition: all .4s ease-in-out;
}

#left > img:hover {
    scale: 1.03;
}

#right {
    padding-left: 14px;
    padding-right: 3px;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
}

#tags {
    font-style: italic;
    font-size: 14px;
    margin-top: 8px;
}

#right > h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
}

#descricao {
    font-size: 14px;
    margin-block: 3px;
}

#autor  {
    font-size: 14px;
}

#dataCorrigida {
margin-bottom: 14px;
}

@media screen and (max-width: 1316px) {
    #right > h4 {
        font-size: 15px;
    }
}