#container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(255, 227, 253);
    margin-right: 15px;
    padding: 7px;
    border-radius: 2%;
    margin-bottom: 15px;
    transition: all .5s ease;
}

#container:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 1px 1px 15px rgb(187, 138, 192);
}

#left {
    overflow: hidden;
    border-radius: 2%;
}


#left > img {
    width: 100%;
    height: 200px;
    border-radius: 2%;
    transition: all .4s ease-in-out;
}

#left > img:hover {
    scale: 1.03;
}

#right {
    padding-left: 14px;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
}

#tags {
    font-style: italic;
    font-size: 14px;
    margin-block: 5px;
}

#right > h4 {
    font-size: 18px;
    font-weight: 700;
}

#descricao {
    font-size: 14px;
    margin-block: 8px;
}

#autor  {
    font-size: 14px;
}

#dataCorrigida {
    margin-top: 2px;
}