#container > form > input {
    font-size: 18px;
    padding: 3px;
    border: 2px #ae2acf solid;
}

#container > form > input {
}

#container > form {
    display: flex;
    flex-flow: row nowrap;
}

#container > form > button {
    margin-left: 4px;
    padding-inline: 5px;
    font-size: 20px;
}

#container > form > button:hover {
    cursor: pointer;
}

#container > h3 {
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline 2px purple;
}

#PopularPostsContainer {
    display: flex;
    flex-flow: column nowrap;
}

#PopularPostsContainer > a {
    margin-bottom: 7px;
    color: black;
    font-weight: 500;
    background-color: pink;
    width: fit-content;
    padding-inline: 6px;
    padding-block: 2px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
}

#PopularPostsContainer > a:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px black;
}

#tagsContainer {
    display: flex;
    flex-flow: row wrap;
}

#tagsContainer > a {
    font-style: italic;
    color: #220120;
    margin-right: 8px;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid black;
    padding-inline: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#tagsContainer > a:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px black;
}

#adsContainer {
    margin-top: 1em;
}

#btn {
    background-color: transparent;
    border: none;
    color: white;
}

#ico > path {
    fill: white;
}

#ico {
    font-size: 27px;
    transition: transform 0.4s ease-in-out;
}

#ico:hover {
    transform: rotateZ(360deg);
}

@media screen and (max-width: 1214px) {
    #container > h3 {
        font-size: 18px;
    }

    #PopularPostsContainer > a {
        font-size: 14px;
    }

    #tagsContainer > a {
        font-size: 14px;
    }
}
