#container {
    width: 100%;
}

#container > img {
    width: 80%;
    height: 470px;
    border-radius: 0.2%;
    transition: 0.5s ease-in-out;
}

#container > img:hover {
    opacity: .9;
    cursor: pointer;
}

#container > a {
    font-size: 1.7em;
    margin-left: 5px;
    color: black;
    font-weight: 800;
}

#container > a:hover {
    text-decoration: underline;
    color: rgb(51, 24, 66);
}

#data {
    font-size: 15px;
    margin-left: 10px;
}

#data > span {
    margin-left: 1em;
}