#container {
    width: 100%;
}

#container > img {
    width: 80%;
    height: 400px;
    border-radius: 1%;
}

#container > a {
    font-size: 1.7em;
    margin-left: 5px;
    color: black;
    font-weight: 700;
}

#container > a:hover {
    text-decoration: underline;
    color: rgb(51, 24, 66);
}

#data {
    font-size: 15px;
    margin-left: 10px;
}

#data > span {
    margin-left: 1em;
}