#img {
    width: 100%;
    height: 550px;
    border-radius: 2px 2px 0 0;
}

#tit {
    font-weight: bold !important;
}

#fundo {
    background-color: #ffe3fd;
    border-radius: 2px;
    max-width: fit-content;
    padding-bottom: 2em;
    margin-right: 5%;
}

#conteudo {
    font-size: 18px;
    margin-top: 3%;
    padding-inline: 1em;
    line-height: 1.4em;
}

#line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 1.5em;
    margin-top: 0.5em;
}

#line > div {
    display: inherit;
    flex-flow: inherit;
    align-items: inherit;
    margin-right: 1em;
}

#line > div > p {
    font-size: 21px;
    margin-left: 5px;
    font-size: 17px;
}

#tagsOrg > a {
    color: rgb(61, 4, 49);
    margin-right: 6px;
    font-weight: 600;
    transition: 0.1s all ease-in-out;
}

#tagsOrg > a:hover {
    color: rgb(231, 45, 138);
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 1176px) {
    #fundo {
        margin-right: 6%;
    }

    #img {
        height: 400px;
    }
}

@media screen and (max-width: 1080px) {
    #fundo {
        margin-right: 10%;
    }

    #conteudo {
        font-size: 15px;
    }
}

@media screen and (max-width: 884px) {
    #line p,
    #line a {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 792px) {
    #fundo {
        margin-right: 5%;
    }

    #line {
        flex-flow: wrap;
        margin-left: 0.5em;
    }

    #conteudo {
        font-size: 13px;
    }
}

@media screen and (max-width: 684px) {
    #img {
        height: 300px;
    }
    #fundo {
        margin-right: 2%;
    }
}
