#ct {
   position: relative;
   height: 100%;
   display: flex;
   flex-flow: column;
}

#head {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   background-color: #5c519b;
   padding-inline: 25px;
   padding-block: 20px;
   color: white;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 5;
}

#head h5 {
   font-size: 20px;
   font-weight: 500;
}

#chatBody {
   display: flex;
   flex-direction: column;
   padding-block: 5em;
   padding-inline: 2em;
   height: 93%;
   overflow-y: auto;
}

#mensagens {
   display: flex;
   flex-flow: column;
   gap: 17px;
}

.msg {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   gap: 10px;
}

.conteudoMsg {
   background-color: #fff;
   padding: 10px 12px;
   border-radius: 5px;
   font-size: 14px;
   max-width: 60%;
}

.msg#recebido {
   justify-content: start;
}

.msg#enviado {
   justify-content: end;
   flex-flow: row-reverse;
}

.msg#enviado .conteudoMsg {
   background-color: #5c519b;
   color: white;
}

.fotoUser {
   width: 36px;
   height: 36px;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
}

.msg > div {
   display: flex;
   flex-flow: column;
   align-items: center;
   gap: 4px;
}

.msg > div > span {
   font-size: 12px;
   color: rgb(75, 74, 74);
}

#input {
   background-color: white;
   display: flex;
   flex-flow: row nowrap;
   padding: 10px 15px;
   position: absolute;
   bottom: 0;
   width: 100%;
}

#input > input {
   background-color: white;
   color: #000;
   width: 100%;
   font-size: 18px;
   border: none;
   border-right: 1px solid rgb(213, 205, 218);
   margin-right: 9px;
   outline: none;
}

#input > div {
   display: flex;
   flex-flow: row nowrap;
   gap: 13px;
   align-items: center;
   font-size: 30px;
   padding-left: 5px;
}

#input > div > svg {
   cursor: pointer;
}

#input > div > svg:hover,
#input > div > label:hover {
   transition: all 0.1s ease;
   scale: 1.1;
   background-color: #e5e2f3;
}

#input > div > label {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
